.match-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    font-size: 1.2rem;
    color: rgb(1, 4, 3);
    background-color: #4CAF50; /* Default color */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    transform: translateY(50%); /* Position the button to slightly overlap the match-container */
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.match-button .button-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.match-button.next {
    background-color: #c68e72;
}

.match-button.yes {
    background-color: #92e6d2;
}

.match-button:hover {
    opacity: 0.9;
}