.match-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    transform: translateY(50%);
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.match-button .button-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.match-button.next {
    background-color: #ea476c;
}

.match-button.yes {
    background-color: #24dcaf;
}

.match-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    background-color: #ebf3f2;
}