.detail-container {
    position: absolute;
    bottom: 40px;
    left: 100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 5;
    width: 400px;
    height: 200px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.profile-label {
    font-weight: bold;
}

.profile-text {
    font-size: 1.2rem;
}