@import url('https://fonts.googleapis.com/css2?family=Prata&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.home-first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    padding: 20px;
    background: linear-gradient(100deg, #92e6d2 40%, #4bc192 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.home-title {
    font-family: 'Prata', serif;
    font-size: 120px;
    font-weight: bold;
    margin: 30px;
    color: black;
}

.home-subtitle {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 30px;
    color: dimgrey;
    position: relative;
    animation: fadeInGrow 3s ease-out forwards;
}

.home-second-section {
    background-color: white;
    color: black;
    padding: 50px 20px;
    text-align: center;
}

.second-title {
    font-family: Prata, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 30px;
}

.second-paragraph {
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

@keyframes fadeInGrow {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
