@import url('https://fonts.googleapis.com/css2?family=Prata&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.home-first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #1b03a3 0%, #98ff98 100%);
}

.home-title {
    font-family: 'Prata', serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.home-subtitle {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 30px;
    color: dimgrey;
    position: relative;
    overflow: hidden; /* Verberg het deel van de tekst dat buiten het zichtbare gebied valt */
}

.home-subtitle::before {
    content: ''; /* Voegt een pseudo-element toe voor de animatie */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: dimgrey;
    transform: translateX(-100%);
    animation: slideReveal 1.5s forwards;
}
.home-second-section {
    background-color: white;
    color: black;
    padding: 50px 20px;
    text-align: center;
}

.second-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.second-paragraph {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

@keyframes slideReveal {
    to {
        transform: translateX(100%);
    }
}
