.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    position: relative;
    border-bottom: 30px solid black;
}
.logo {
   flex: 1;
}

.logo img {
    width: 120px;
    height: 120px;
    margin: 15px;
}

nav {
    display: flex;
    flex: 2;
    justify-content: center;
    margin-left: -350px;

}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    position:relative;
    transition: color 0.5s ease;
}

/* Hover effect voor underline */
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -5px; /* plaats de lijn net onder de tekst */
    left: 0;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%; /* onderstreept volledig bij hover */
}

.nav-links a:hover {
    color: #555; /* donkergrijze kleur bij hover */
}

