.mission-section {
    background-color: black;
    color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.mission-column {
    max-width: 400px;
}

.mission-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.mission-image {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Rond maken van de afbeelding */
    margin-bottom: 20px;
    object-fit: cover; /* Zorgt ervoor dat de afbeelding netjes past in de cirkel */
}

.mission-paragraph {
    font-size: 16px;
    line-height: 1.6;
}

/* Stijlen voor de genummerde en bulletlijsten */
.numbered-list, .bullet-list {
    margin-top: 20px; /* Ruimte boven de lijst */
    margin-bottom: 20px; /* Ruimte onder de lijst */
    padding-left: 20px; /* Inhoud van de lijst iets naar binnen schuiven */
    line-height: 1.8; /* Regelhoogte, zorgt voor meer ruimte tussen regels */
}

.numbered-list li, .bullet-list li {
    margin-bottom: 12px; /* Ruimte tussen lijstitems */
}


